"*":
  "aligner-ruby": {}
  "atom-beautify":
    general:
      _analyticsUserId: "8fe6e1f7-5436-4242-830a-ce31611ed9cc"
  "atom-ctags": {}
  "atom-lint":
    ignoredNames: [
      "tmp/**"
    ]
    jshint:
      path: "/Users/shane/.rbenv/shims/jshint"
    rubocop:
      path: "/Users/shane/.rbenv/shims/rubocop"
    "scss-lint":
      path: "/Users/shane/.rbenv/shims/scss-lint"
    showViolationMetadata: true
  "atom-pair":
    slack_url: "https://hooks.slack.com/services/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"
  "atom-terminal-panel":
    logConsole: true
  "auto-update-packages": {}
  "autocomplete-plus": {}
  "autocomplete-ruby": {}
  "context-menu":
    "atom-text-editor": [
      {
        label: "History"
        submenu: [
          {
            label: "Undo"
            command: "core:undo"
          }
          {
            label: "Redo"
            command: "core:redo"
          }
        ]
      }
    ]
    "atom-workspace": [
      {
        label: "Help"
        command: "application:open-documentation"
      }
    ]
  core:
    disabledPackages: [
      "seti-icons"
      "wrap-guide"
      "welcome"
      "linter-htmlhint"
      "language-gfm"
      "language-gfm"
      "language-gfm"
      "language-gfm"
      "language-gfm"
      "language-gfm"
      "language-gfm"
      "language-ruby"
      "language-gfm"
      "language-gfm"
      "language-gfm"
      "language-gfm"
      "language-gfm"
      "language-gfm"
      "language-gfm"
      "language-gfm"
      "language-gfm"
      "language-gfm"
      "language-gfm"
      "language-gfm"
      "language-gfm"
      "language-gfm"
      "language-gfm"
      "react"
      "autocomplete-ruby"
      "linter-haml"
    ]
    excludeVcsIgnoredPaths: false
    followSymlinks: false
    packagesWithKeymapsDisabled: [
      "atom-terminal-panel"
    ]
    themes: [
      "unity-ui"
      "elly-syntax"
    ]
  "ctags-status": {}
  editor:
    invisibles: {}
    showIndentGuide: true
    softWrap: true
  "exception-reporting":
    userId: "9dcd10f3-e5d4-bdc1-8e28-39642814c062"
  "git-diff":
    showIconsInEditorGutter: true
  jshint:
    supportLintingJsx: true
  "language-babel":
    autoIndentJSX: true
  linter:
    errorPanelHeight: 24
  "linter-bootlint": {}
  "linter-erb":
    erbExecutablePath: "/Users/shane/.rbenv/shims/erb"
  "linter-haml":
    copyRubocopYml: false
    hamlLintExecutablePath: "/Users/shane/.rbenv/shims/haml-lint"
  "linter-htmlhint": {}
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
    esversion: 6
    executablePath: "/Users/shane/.rbenv/shims/jshint"
    lintInlineJavaScript: false
  "linter-jsxhint":
    harmony: true
  "linter-rubocop":
    command: "/Users/shane/.rbenv/shims/rubocop"
  "linter-ruby":
    rubyExecutablePath: "/Users/shane/.rbenv/shims/ruby"
  "linter-scss-lint":
    executablePath: "/Users/shane/.rbenv/shims/scss-lint"
  "linter-tidy": {}
  "markdown-preview": {}
  "markdown-writer": {}
  "merge-conflicts": {}
  pigments: {}
  "rails-transporter": {}
  react: {}
  rspec:
    command: "bundle exec rspec"
  "rubocop-auto-correct":
    correctFile: true
    rubocopCommandPath: "/Users/shane/.rbenv/shims/rubocop"
  "ruby-block":
    highlightLineNumber: true
  "ruby-block-converter": {}
  "ruby-debugger": {}
  "ruby-test": {}
  "spell-check": {}
  "status-bar": {}
  tabs:
    enableVcsColoring: true
    tabScrolling: true
  term2:
    colors:
      brightWhite:
        alpha: 1
        blue: 0
        green: 0
        red: 0
      foreground:
        alpha: 1
        blue: 0
        green: 0
        red: 0
  term3: {}
  "todo-manager": {}
  "todo-show": {}
  "tree-view":
    hideVcsIgnoredFiles: true
  "unity-ui":
    colorStatusIndicatorsInTreeView: true
    showIcons: true
  welcome:
    showOnStartup: false
