"*":
  "atom-jest-snippets":
    toggleSemicolons: false
  core:
    disabledPackages: [
      "symbols-view"
      "language-gfm"
      "atom-ctags"
      "linter-pug"
      "linter-pug-lint"
    ]
    excludeVcsIgnoredPaths: false
    telemetryConsent: "no"
    themes: [
      "neutron-dark-ui"
      "humble-colors-syntax"
    ]
  editor:
    fontSize: 15
    softWrap: true
  "exception-reporting":
    userId: "3ac7bf9a-69a6-4ace-8b78-f46e7f97c691"
  "linter-eslint":
    ignoreFixableRulesWhileTyping: true
  "linter-ui-default":
    panelHeight: 56
    showPanel: true
  "prettier-atom":
    formatOnSaveOptions:
      showInStatusBar: true
    prettierEslintOptions: {}
    prettierOptions:
      jsxBracketSameLine: true
      singleQuote: true
    useEditorConfig: false
    useEslint: true
    useStylelint: true
  "tree-view": {}
  welcome:
    showOnStartup: false
